/* RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* /RESET */

/* COMMON */
body{
    background-color:#F6F8F9;
}

.ml{
    margin-left: 4rem;
}
/* /COMMON */

/* HEADER */
header{
    height: 100px;
    line-height: 100px;
    padding: 0 1rem;
    background-color: white;
    margin-bottom: 3.125rem;
}

header img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 3rem;
}
/* /HEADER */

/* MAIN */
.container{
    width: 60%;
    margin: 0 auto 2px;
    border-radius: 10px;
    background-color: white;
}

/* Section Button */
.button-row{
    height: 80px;
    line-height: 80px;
}

.button-row button{
    vertical-align: middle;
    margin-right:5px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}

.tasks-button{
    color: white;
    background-color: #47adf1;
    border-color:#47adf1;
}

.selection-button{
    color: #c5cbd0;
    background: none;
    border-color: #c5cbd0;
}
/* /Section Button */

/* Section Lists */
.lists{
    padding-top: 30px;
    color: #444851;
}

ul{
    list-style-type:none;

}

li{
    margin: 8px 0;
    padding-bottom: 15px;
}

.list-item{
    font-size: 1.5rem;
    font-weight: bold;
}


.marker{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border:1px solid;
}

.check{
    color:#64c0a9;
    border-color:#64c0a9;
}

.cross{
    color:#eb5952;
    border-color:#eb5952
}

.tag{
    display: inline-block;
    color: white;
    border-radius: 1rem;
    font-size: .7rem;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.long{
    width: 70px;
}

.short{
    width:50px;
}

.editorial{
    width: 60px;
    background-color: #47adf1;
}

.goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}
/* /Section Lists */
/* /MAIN */

